<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="NorthwindDB" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=Northwind;Integrated Security=true;Application Name=UnitTest_FirstConnection;" providerName="System.Data.SqlClient" />
    <add name="NorthwindDBAlt" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=Northwind;Integrated Security=true;Application Name=UnitTest_SecondConnection;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.OpenAccess" publicKeyToken="7ce17eeaf1d59342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2014.2.711.1" newVersion="2014.2.711.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.OpenAccess.35.Extensions" publicKeyToken="7ce17eeaf1d59342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2013.2.702.1" newVersion="2013.2.702.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>